.Main-container {
  background-color: #19181d;
  border: 1px solid #19181d;
  border-radius: 20px;
  width: 70rem;
  /* height: 100%; */
  height: 54rem;
  /* min-width: 70%; */
  display: flex;
  overflow-y: hidden;
}

.Main-container.day-mode {
  background-color: #fff;
  color: #000; 
  border: 3px solid #3A57E8;
  border-left: 0px solid #3A57E8  ;
  background-color: #F2F2F2;


}


.card-1-wallet.clicked {
  border: 3px solid #4518cd !important;
  box-shadow: 0 0 50px rgba(0, 123, 255, 0.5) !important;
}


/* Day mode styles for specific elements */


/* Additional styles for day mode */
.side_navbar.day-mode {
  background-color: #fff;
  color: #000; 
  border: 3px solid  #3A57E8;
  border-left: 0px solid #3A57E8 ;
  border-top: 0px solid #3A57E8  ;

  /* Text color */
  /* ... other styles for side_navbar in day mode ... */
}

.Left-side.day-mode {
  background-color: #fff;
  color: #000; /* Text color */
  border: 3px solid #3A57E8;
  border-top: 0px solid #3A57E8 ;
  background-color: #F2F2F2;
 
}


.right-side.day-mode {
  background-color: #fff;
  color: #000; /* Text color */
  background-color: #F2F2F2;



}

.Cards.day-mode {
  background-color: #F2F2F2;
  color: #000; /* Text color */

}

.right-content-1.day-mode {
  background-color: #fff;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
  background-color:#E0E0E0;

  box-shadow: 0px 4px 4px 0px #00000020;




}

.top-content.day-mode {
  background-color: #F2F2F2;
  color: #000;
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #0000

 
}

.profile-data.day-mode {
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;

 
}

.Current-balance.day-mode{
  background: linear-gradient(248.32deg, rgba(54, 77, 96, 0.8) 0%, rgba(58, 87, 232, 0.8) 49.41%, rgba(74, 104, 255, 0.8) 98.82%);
color: #000;
border: 1px solid #C8C8C8;


}

.lower-content.day-mode{
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;

 
}

.card-1.day-mode{
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;


}

.card-2.day-mode{
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;


}


.card-3.day-mode{
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;

}


.Conatiner{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-color: #1D1D1D;     */
}

.Conatiner.night-mode{
  color: white;
  background-color: #1D1D1D;   

}

.Conatiner.day-night{
  background-color: #fff;
  color: #000; /* Text color */
}






.side_navbar {
  background-color: #09070e;
  border-radius: 20px;
  border: 1px solid #09070e;
  width: 7.5rem;
  height: 54rem;
  box-shadow: 2px 0px 4px 0px #3a57e840;
  z-index: 1;
}

.Left-side {
  background-color: #141317;
  border: 1px solid #141317;
  width: 29.75rem;
  height: 54rem;
  border-radius: 20px;
  box-shadow: 2px 0px 4px 0px #3a57e840;
  display: flex;
  /* flex-direction: unset; */
  flex-wrap: wrap;
  position: relative;
}

.right-side {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  height: 54rem;
  gap: 2rem;
  position: relative;
}

.right-content-1 {
  width: 36.5rem;
  height: 8.125rem;
  background-color: #1e2227;
  border: 1px solid #1e2227;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  

}


.Content {
  display: flex;
  gap: 2rem;
  margin-bottom: 22rem;
}

.top-content {
  width: 19.75rem;
  height: 19.438rem;
  background-color: #13171c;
  border: 1px solid #13171c;
  border-radius: 20px;
  /* margin-top: 6.875rem; */
  /* margin-left: 1.25rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  /* left: 55rem; */
  bottom: 47rem;
  left: 8.8rem;
}

.profile-data {
  width: 17.25rem;
  height: 5.688rem;
  background-color: #141317;
  border: 1px solid #141317;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.Current-balance {
  width: 14.063rem;
  height: 9.063rem;
  background:linear-gradient(248.32deg, rgba(54, 77, 96, 0.2) 0%, rgba(58, 87, 232, 0.2) 49.41%, rgba(74, 104, 255, 0.2) 98.82%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}




.profile-img{
  width: 81px;
height: 75px;
border-radius: 10px;
border-style: dotted;
}

.Profile-name{
  width: 9.438rem;
  height: 1.813rem;
  background-color: #1E2227;
  border-radius: 4.69px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Profile-name.night-mode {
  background-color: #1E2227;
}

.Profile-name.day-mode{
  background-color: #F2F2F2;
  border: 1px solid #C8C8C8;
}


.Id-detail{
  display: flex;
  gap: 0.2rem;
}

.id-number{
  width: 7.438rem;
  height: 1.813rem;
   border-top-right-radius: 4.69px;
    border-bottom-right-radius: 4.69px;
background-color: #1E2227;
}



.id-number.night-mode {
  background-color: #1E2227;
}

.id-number.day-mode{
  background-color: #F2F2F2;
  border: 1px solid #C8C8C8;
}


.pkrtoken{
  margin-left: 15px;
}

.Id{
  
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  
}

.transaction-digit{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 8px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}



.Id-text{
  width: 2rem;
  height: 1.813rem;
border-radius: 4.69px;
background-color: #1E2227;
border-top-left-radius: 4.69px;
border-bottom-left-radius: 4.69px;
border-radius: 4.5px;
display: flex;
align-items: center;
justify-content: center;
}


.Id-text.night-mode {
  background-color: #1E2227;
}

.Id-text.day-mode{
  background-color: #F2F2F2;
  border: 1px solid #C8C8C8;
}


.Profile-detail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.transaction-number{
  width: 17.25rem;
  height: 3.75rem;
  background-color: #141317;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
}

.corner-design{
  position: relative;
  left: 3rem;
}


.pkr-token-2{
  height: 3rem;
}

.to-text{
  font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 7px;
letter-spacing: 0em;
text-align: left;

}

.form-text{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 7px;
  letter-spacing: 0em;
  text-align: left;

  
}

.transaction-number.night-mode {
  background-color: #141317;
}

.transaction-number.day-mode {
  background-color: #F2F2F2;
  border: 1px solid #C8C8C8;
}


.transaction-heading {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
border-bottom: 2px solid  linear-gradient(90deg, #3F56B2 0%, #A4D0FC 100%);

}

.profile-img-icon{
  height: 4.7rem;
}

.veiw-All-text{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: #333378;
  margin-left: 13rem;
  text-decoration: underline;
  position: relative;
  bottom: 0.4rem;
}

.transaction-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Name{
  font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}



.Date-text{
  font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
position: relative;
    top: 0.6rem;

}


.lower-content {
  width: 19.75rem;
  height: 24.25rem;
  background-color: #13171c;
  border: 1px solid #13171c;
  border-radius: 20px;
  margin-left: 8.79rem;
  margin-top: 0rem;
  position: relative;
  /* top: 31rem; */
  bottom: 46rem;
}

.Cards {
  display: flex;
  gap: 1.22rem;
}

.card-1 {
  width: 11.25rem;
  height: 5.563rem;
  background-color: #1e2227;
  border: 1px solid #1e2227;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-2 {
  width: 11.25rem;
  height: 5.563rem;
  background-color: #1e2227;
  border: 1px solid #1e2227;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-3 {
  width: 11.25rem;
  height: 5.563rem;
  background-color: #1e2227;
  border: 1px solid #1e2227;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Language-change-btn{
  width: 1.875rem;
  height: 1.875rem;
  background-color: #313437;
  border-radius: 6px;
  border: 1px solid #313437;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 31.9rem;
  cursor: pointer;


} 

.Language-change-btn.night.mode {
  background-color: #313437;
}

.Language-change-btn.day-mode {
  background-color: #D9D9D9;
  border: 1px solid #C8C8C8;
}



.day-night-mode-change-btn{
  width: 1.875rem;
  height: 1.875rem;
  background-color: #313437;
  border-radius: 6px;
  border: 1px solid #313437;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
}

.day-night-mode-change-btn.night.mode {
  background-color: #313437;
}

.day-night-mode-change-btn.day-mode {
  background-color: #D9D9D9;
  border: 1px solid #C8C8C8;
}



.Changes-button{
  display: flex;
  gap: 1rem;
}

.Welcome-text{
  width: 20rem;
  margin-left: 1rem;
  font-size: 15px;
  margin-top: 4rem;
}


.Name-text{
  color: #333378;
}


.Navbar-menu a {
  text-decoration: none;
  color: white;
}

.Navbar-icon-text{
  font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;

display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
text-decoration-line: none;

}

.Navbar-icon-text.night-mode{
  color: white;
}


.Navbar-icon-text.day-mode {
text-decoration-line: none;
  color: #000; 
}


.Navbar-icon-text-2{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  margin-top: 13rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;

}


.Navbar-menu{
  width: 5rem;
  margin-left: 1.3rem;
  display: grid;
}

.current-balance-heading{
  font-family: Montserrat;
font-size: 10px;
font-weight: 500;
line-height: 12px;
letter-spacing: 0em;


}


.current-cash{
  font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
color: white;


}

.send-recive-text{
  font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
width: 14rem;

}


.Instanatly-text{
  color: #333378;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}


.current-cash-2{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  width: 4.563rem;
  height: 0.9rem;
  border-radius: 10px;
  background-color: #13171C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cash-detail{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-balnce{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  bottom: 1rem;

}

.Total-assets-text{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  bottom: 2rem;

  
}

.Card-pic{
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  bottom: 1rem;
}







@media (max-width: 1600px) {
  .Main-container {
  
    transform-origin: center center;
        transform: scale(0.85) !important;
        /* transform: translate(37%, 12px); */
  }
}




@media (max-width: 1440px) {
  .Main-container {
  
    transform-origin: center center;
        transform: scale(0.8) !important;
        /* transform: translate(37%, 12px); */
        margin-top: -2.5rem !important;
  }
} 


@media (max-width: 1366px) {
  .Main-container {
  
    transform-origin: center center;
        transform: scale(0.7) !important;
        /* transform: translate(37%, 12px); */
        margin-top: -6.7rem !important;
  }
} 

  
@media (max-width: 1280px) {
  .Main-container {
  
    transform-origin: center center;
        transform: scale(0.85) !important;
       margin-top: -0.5rem !important;
  }
}  

 








@media (max-width: 1024px) {
  .Main-container {
  
    transform-origin: center center;
        transform: scale(0.6) !important;
        /* transform: translate(37%, 12px); */
        margin-top: -6.5rem !important;
  }
} 




