
.Setting-text{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-decoration: underline #3F56B2;
  text-decoration: underline #3F56B2;
  position: relative;
  bottom: 11rem;
  right: 6rem;
}


.Password-change{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 7rem;
}



.Update-password-btn{
  background-color: #333378;
  width: 17.875rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #333378;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  bottom: 3rem;
}


.presonal-heading-text{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #3F56B2;
  width: 13.6rem;
}


.Upload-buttons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-content-1-setting{
  width: 36.5rem;
  height: 9.375rem;
  background-color: #141317;
  border: 1px solid #141317;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.7rem;
  position: relative;
}


.right-content-1-setting.day-mode {
  background-color: #fff;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;
  background-color:#E0E0E0;

}

.empty-conatiner{
  background-color: #1E2227;
  border: 1px solid #1E2227;
  border-radius: 3px;
  width: 10.438rem;
  height: 1.813rem;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  /* text-align: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;


}

.empty-conatiner.day-mode {
  background-color: #C8C8C8;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;
  background-color:#E0E0E0;
}

.gallary-img{
  position: relative;
  right:1rem;
}

.gallary-img.day-mode {
  filter: invert(1);
}


.upalod-img-btn{
  background-color: #333378;
  border: #333378 1px solid;
  width: 10.438rem;
  height: 1.813rem;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  /* text-align: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.email-inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-left: -3rem;

}
.information{
  height: 2.4rem;
  width: 14rem;
  color: white;
  background-color: #141317;
  border: 1px solid gray;
  position: relative;
  bottom: 3rem;
   outline: none;
   border-radius: 5px;
}


.information.day-mode {
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;


}

.information-1{
  height: 2.4rem;
  width: 14rem;
  color: white;
  background-color: #141317;
  border: 1px solid gray;
  position: relative;
  bottom: 3rem;
   outline: none;
   border-radius: 5px;
   left: 1rem;
}

.information-1.day-mode {
  background-color: #F2F2F2;
  color: #000; /* Text color */
  border: 1px solid #C8C8C8;
  box-shadow: 0px 4px 4px 0px #00000020;


}



.First-name{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  position: relative;
  bottom: 4.3rem;
  z-index: 1;
  left: 9.9rem;
  width: 4.4rem;
  background-color: #141317;
  border: #141317 1px solid;
  border-bottom: 0px;
  border-radius: 6px;
  left: 6rem;
}


.First-name.day-mode {
background-color: #F2F2F2;
color: #000;


border: none;


}



.First-name-22{
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;

position: relative;
bottom: 4.3rem;
z-index: 1;
left: 4.9rem;
width: 2.2rem;
background-color: #141317;
border: #141317 1px solid;
border-bottom: 0px;
border-radius: 6px;
}

.First-name-22.day-mode {
background-color: #F2F2F2;
color: #000;


border: none;


}

.First-name-3{
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;

position: relative;
bottom: 4.3rem;
z-index: 1;
left: 5.9rem;
width: 4.3rem;
background-color: #141317;
border: #141317 1px solid;
border-bottom: 0px;
border-radius: 6px;
}

.First-name-3.day-mode {
background-color: #F2F2F2;
color: #000;


border: none;


}

.First-name-4{
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;

position: relative;
bottom: 4.3rem;
z-index: 1;
left: 5.9rem;
width: 3.8rem;
background-color: #141317;
border: #141317 1px solid;
border-bottom: 0px;
border-radius: 6px;
}

.First-name-4.day-mode {
background-color: #F2F2F2;
color: #000;


border: none;


}





.email-wrap{
display: flex;
}

.Update-button-btn{
background-color: #333378;
  width: 15.25rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #333378;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* position: absolute; */
  bottom: 24rem;
  left: 10rem;
  cursor: pointer;
  position: absolute;
  top: 38rem;
}

.information-update{
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    gap: 0.6rem;
    margin-top: 4rem;
    /* flex-wrap: wrap; */
    display: flex;
    position: absolute;
    right: 0rem;
    top: 25rem;
}