/* OTPGenerator.css */
.otp-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  top: 3px;
  right: 0em;


}

.otp-inputs {

  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  /* column-gap: 1px; */
  align-items: center;

}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 14px;
  background-color: #141317;
  border: 1px;
  color: white;
}


.otp-input:focus {
  border-color: #007bff;
}

/* For screens with width up to 960px */
@media screen and (max-width: 1280px) {
  .otp-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    top: 3px;
    right: 9rem !important;
}
}

@media screen and (max-width: 1024px) {
  .otp-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    top: 3px;
    right: 9rem !important;
}
}

/* For screens with width up to 760px */

/* For screens with width up to 680px */
